*{
    font-family: 'Courier New', Courier, monospace
}
h1{
    color: #1b74e4;
}
#BB{
    color: white;
    background-color: black;
}
button{
    color: black;
    background-color: aqua;
}
